flask
python-dotenv

langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-pinecone

pinecone

sentence-transformers

pypdf

groq

werkzeug

PyJWT[crypto]
requests
cryptography

supabase
